/*------------------------------------*\
    GENERAL
\*------------------------------------*/

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    /*min-width: 350px;*/
    min-height: 200px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #333;
    font-family: 'Poppins', 'Open Sans';
    color: #2d2d2d;
    line-height: 1.5;
}

a {
    color: #2d2d2d;
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover,
a:active,
a:visited {
    color: #2d2d2d;
    text-decoration: unset;
    outline: none;
}

.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    height: auto;
    object-fit: contain;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

ul {
    padding: 0;
    margin: 0;
}


/*------------------------------------*\
    COMMON
\*------------------------------------*/

.wrapper {
    overflow: hidden;
}

.italic {
    font-style: italic;
}

span.b {
    font-weight: bold;
}

span.allign-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

span.line {
    display: inline-block;
    width: 70px;
    height: 2px;
    background: #d09600;
    margin-bottom: 8px;
    position: relative;
}

span.line:before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 13px;
    width: 2px;
    background: #d09600;
    content: "";
}

span.line.line-left {
    margin-right: 10px;
}

span.line.line-right {
    margin-left: 10px;
}

span.line.line-right:before {
    right: auto;
    left: 0;
}

.column-1200 {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.column-1400 {
    max-width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.horizontal-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}


/*------------------------------------*\
    TITLES
\*------------------------------------*/

.innerTitle {
    font-size: 32px;
    color: #373737;
    text-align: left;
    padding-bottom: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.innerTitle::after {
    bottom: -9px;
    content: "";
    height: 4px;
    left: 0;
    position: relative;
    width: 80px;
    background-color: #df982a;
    display: block;
}


/*------------------------------------*\
    GRADIENTS
\*------------------------------------*/

.grayMesh {
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
}

.blackMesh {
    background-color: #434343;
    background-image: radial-gradient(circle, #434343 0%, black 100%);
}

.blackMesh_light {
    background-color: #434343;
    background-image: radial-gradient(circle, #434343 0%, #000000c2 100%);
}

.blueMesh {
    background: #01bbd4;
    background: radial-gradient(circle, #01bbd4, #01bbd4e8);
}

.grayMesh_light {
    background-color: #ebedee;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.grayMesh_UltraLight {
    background-color: #eef1f5;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.purpleMesh {
    background: #41295a;
    background: -webkit-linear-gradient(to right, #2f0743f0, #41295af7);
    background: linear-gradient(to right, #2f0743f0, #41295af7);
}

.redMesh {
    background: #a52a2a;
    background: radial-gradient(circle, #ff6f5e, #a52a2a);
}

.lightBlueTexture {
    background: rgb(140,222,218);
    background: -moz-linear-gradient(top, rgb(124, 181, 179) 0%, rgb(69, 140, 136) 100%);
    background: -webkit-linear-gradient(top, rgb(124, 181, 179) 0%,rgb(69, 140, 136) 100%);
    background: linear-gradient(to bottom, rgb(124, 181, 179) 0%,rgb(69, 140, 136) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cdeda', endColorstr='#50c9c3',GradientType=0 );
}

.gold-text {
    color: #c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url('../img/Gold_background2.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}


/*------------------------------------*\
    ANIMATION
\*------------------------------------*/

.pulse {
	-webkit-animation: pulse 1s linear infinite;
	-moz-animation: pulse 1s linear infinite;
	-ms-animation: pulse 1s linear infinite;
	animation: pulse 1s linear infinite;
}

.lxdx {
    animation: nudge 3s linear infinite;
}

.float {
    animation: float 3s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(120px, 0);
    }
    100% {
      transform: translate(-120px, 0);
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.mybutton {
    display: inline-block;
    text-shadow: 0px 1px 3px #666666;
    background: #ef3232;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 5px 0px 0px;
    color: #fff;
    font-size: 34px;
    letter-spacing: 0px;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
}

.mybutton:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
}

.mybutton_round {
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #313131;
    border-radius: 12px;
    text-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 2px 4px #1d1d1d;
    font-family: Arial;
    color: #ffffff;
    font-size: 36px;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
}

.mybutton_round:hover {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #828282;
    text-decoration: none;
    color: #fff;
}

.mybutton_round_2 {
    border-radius: 4px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding: 16px;
    padding-left: 23px;
    padding-right: 23px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    background: #ef3232;
    text-shadow: 0px 1px 3px #666666;
}

.mybutton_round_2:hover {
    opacity: 0.7;
    text-decoration: none;
}

.cornerButton {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: auto;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    padding: 0 20px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    line-height: 38px;
    position: relative;
    font-family: "Open sans";
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.cornerButton::after {
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
    background: #fff;
}

.cornerButton:hover {
    color: #e1206f;
    background-color: #fff;
}

.cornerButton a:hover {
    color: #3a2939;
}


/*------------------------------------*\
    countdown
\*------------------------------------*/

.countdown {
    height: 90px;
    text-align: center;
    color: #2d2d2d;
}

.countdown .time {
    width: 250px;
    font-size: 17px;
}

.countdown .time > div {
    line-height: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.countdown .time ul {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.countdown .time ul li {
    line-height: 1;
    font-size: 48px;
    text-align: center;
    margin: 0 13px;
    list-style-type: none;
    position: relative;
}

.countdown .time ul li .podp {
    display: block;
    position: relative;
    font-size: 17px;
    margin-top: 3px;
}


/*--------------------------------------------------------*\
    countdown-text (ORDER)
\*--------------------------------------------------------*/

#countdown .container {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 0;
    text-align: center;
}

#countdown .container .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#countdown .container .content .text {
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    margin-bottom: 25px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    border-left: 5px solid #fff;
}

#countdown .container .content .countdown {
    margin: 0 25px 50px 0;
    float: left;
    color: #fff;
}

#countdown .container .content .countdown .time {
    margin: auto;
}

/*------------------------------------*\
    header
\*------------------------------------*/

#header {
    margin: 0;
    background-image: url('../img/floor.jpg');
    background-size: cover;
    background-position: center;
}

#header > .content {
    max-width: 1350px;
}

#header .logo {
    padding-top: 15px;
    padding-bottom: 20px;
}

#header .logo .subtitle {
    font-size: 24px;
    margin: 5px 0 20px 0;
    line-height: 40px;
    font-weight: 500;
}

#header .logo .subtitle span {
    color: #a52a2a;
}

#header .logo img {
    max-width: 580px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#header .price > span {
    padding-left: 10px;
    padding-right: 10px;
}

#header .price .quantity {
    font-size: 26px;
    margin-bottom: 5px;
}

#header .price .quantity b {
    margin-right: 10px;
    font-size: 50px;
    color: #a52a2a;
}

#header .price .old {
    font-size: 38px;
    font-weight: 500;
    text-decoration: line-through;
    color: #747474;
}

#header .price .new {
    font-size: 54px;
    font-weight: bold;
    color: #a52a2a;
}

#header .price .discount img {
    max-width: 125px;
}

#header .watch {
    position: relative;
}

#header .watch img.float {
    max-height: 800px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -10px;
}

#header .watch img.shadow {
    opacity: 0;
    visibility: hidden;
}

#header .logo-column {
    padding-bottom: 10px;
    padding-top: 15px;
    max-width: 760px;
    z-index: 2;
}

#header .logo-column > .content {
    min-width: 600px;
    text-align: center;
}

#header .logo-column .specs {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    max-width: 500px;
}

#header .logo-column .specs .spec {
    margin-top: 10px;
    margin-bottom: 10px;
}

#header .logo-column .specs .spec span {
    color: #a52a2a;
}

#header .logo-column .specs .text {
    width: calc(100% - 90px);
}

#header .logo-column .specs img {
    padding-right: 20px;
    width: 85px;
}

#header .logo-column .image img {
    max-width: 350px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#header .countdown_button .content {
    max-width: 700px;
}

#header .countdown_button .countdown,
#header .countdown_button .btn {
    margin-top: 30px;
    margin-bottom: 35px;
    min-width: 300px;
    font-family: "Open Sans";
    font-weight: 600;
}


/*--------------------------------------------------------*\
    big-g
\*--------------------------------------------------------*/

#big-g {
    padding-top: 65px;
    padding-bottom: 70px;
    background-image: url('../img/light_gray.jpg');
    background-size: 100%;
    background-position: center;
}

#big-g .content {
	max-width: 1600px;
    margin: auto;
}

#big-g .main-title {
    padding-bottom: 40px;
}

#big-g h2 {
    font-weight: bold;
    color: #df982a;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#big-g .left-text p {
    margin-left: auto;
    margin-right: 0;
}

#big-g .feature-item {
	position: relative;
	margin-top: 10px;
}

#big-g .feature-item:last-child {
	margin-top: 120px;
}

#big-g .feature-item i {
    color: #df982a;
    margin-right: 11px;
    font-size: 36px;
}

#big-g .feature-item h2 {
	font-size: 1.6em;
    color: #0b0b0b;
    margin-bottom: 14px;
    text-align: left;
}

#big-g .feature-item h2 img {
    margin-right: 15px;
    max-width: 80px;
}

#big-g .feature-s2 .feature-item {
	margin-top: 70px;
}

#big-g .feature-s2 .feature-item:first-child {
	margin-top: 0px;
}

#big-g .feature-s2 .feature-item-d {
	margin-top: 30px;
}

#big-g .feature-s2 .feature-img {
	margin-top: 30px;
}

#big-g .feature-s2 .feature-img img {
    max-height: 600px;
    padding: 0 25px 0 25px;
}

#big-g .feature p {
    font-size: 17px;
    font-family: "Open Sans";
    max-width: 400px;
}

#big-g .carousel-cell {
    width: 100%;
}


/*--------------------------------------------------------*\
    box-banner
\*--------------------------------------------------------*/

#box-banner {
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url('../img/light_gray.jpg');
    background-size: 100%;
    background-position: center;
}

#box-banner .content {
    padding: 0;
}

#box-banner .image,
#box-banner .description {
    max-width: 500px;
    margin: auto;
}

#box-banner .innerTitle {
    padding-bottom: 35px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 34px;
}

#box-banner .subtitle {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    margin-bottom: 35px;
}

#box-banner ul {
    width: 100%;
}

#box-banner ul li {
    display: inline-block;
    width: 33.3%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

#box-banner ul li .content {
    max-width: 305px;
    margin: auto;
}

#box-banner li .image img {
    border: 1px solid #eee;
}

#box-banner li .description {
    text-align: left;
    margin-top: 20px;
}

#box-banner li .description .title {
    color: #3a3e47;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-height: 60px;
    letter-spacing: 1px;
}

#box-banner li .description .title i {
    color: #df982a;
}

#box-banner li .description .title span {
    font-weight: 300;
    font-size: 36px;
    margin-right: 15px;
}

#box-banner li .description .title > div {
    float: left;
}

#box-banner li .description .text {
    color: #464646;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 150px;
}

#box-banner li .description .cornerButton {
    background-color: #df982a;
    margin-top: 20px;
}

#box-banner li .description .cornerButton:hover {
    color: #252525;
}


/*--------------------------------------------------------*\
    text-image-banner-2
\*--------------------------------------------------------*/

#text-image-banner-2 {
    padding-top: 30px;
    padding-bottom: 30px;
	min-height: 100px;
}

#text-image-banner-2 .innerTitle {
    color: #fff;
    font-family: "Poppins";
}

#text-image-banner-2 .text {
    font-size: 36px;
    color: #fff;
    float: right;
    padding: 0 0 30px 0;
    text-align: left;
    max-width: 600px;
    width: 40%;
}

#text-image-banner-2 .image {
    max-width: 400px;
    width: 60%;
}


/*--------------------------------------------------------*\
    text-image-banner-1
\*--------------------------------------------------------*/

#text-image-banner-1 {
    border-top: 5px solid #417d7fd6;
}

#text-image-banner-1 > .content {
    padding-top: 5px;
    padding-bottom: 5px;
}

#text-image-banner-1 .text {
    font-size: 22px;
    color: #fff;
    float: right;
    padding: 10px 0 20px 40px;
    text-align: justify;
    max-width: 900px;
}

#text-image-banner-1 .text .title {
    font-size: 46px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #222222;
}

#text-image-banner-1 .text span {
    display: inline-block;
    margin-top: 20px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

#text-image-banner-1 .image {
    max-width: 260px;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#text-image-banner-1 .countdown_button .content {
    max-width: 730px;
    padding-bottom: 35px;
    color: #fff;
}

#text-image-banner-1 .countdown_button .content .countdown {
    color: #fff;
}


/*--------------------------------------------------------*\
    text-image-banner-3
\*--------------------------------------------------------*/

#text-image-banner-3 {
    padding-top: 60px;
    padding-bottom: 65px;
    background-color: #fff;
}

#text-image-banner-3 .container > * {
    width: 100%;
}

#text-image-banner-3 .innerTitle {
    color: #df982a;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0;
    padding-bottom: 35px;
}

#text-image-banner-3 .text {
    font-size: 19px;
    text-align: justify;
    font-family: "Open Sans";
}

#text-image-banner-3 .text span {
    font-weight: bold;
    font-size: 22px;
}

#text-image-banner-3 .image {
    padding-top: 40px;
    max-width: 600px;
}


/*--------------------------------------------------------*\
    slider
\*--------------------------------------------------------*/

#slider .content > * {
    padding: 0;
}

#slider .carousel-cell {
    width: 100%;
}

#slider .text .innerTitle {
    color: #fff;
    font-family: "Poppins";
    margin-bottom: 5px;
    text-shadow: 1px 1px 0px #292929;
}

#slider .text .title {
    font-size: 19px;
    text-align: justify;
    line-height: 31px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#slider.slider_1 .text .title {
    font-size: 19px;
    line-height: 28px;
    text-align: justify;
}

#slider.slider_2 .text .title {
    font-size: 19px;
    line-height: 26px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
}

#slider .text .innerTitle {
    line-height: 36px;
    text-align: left;
}

#slider .text > * {
    max-width: 500px;
    color: #fff;
    font-family: "Open Sans";
}

#slider .cornerButton {
    background-color: #df982a;
    margin-top: 20px;
}

#slider .cornerButton:hover {
    color: #252525;
}


/*--------------------------------------------------------*\
    opinions
\*--------------------------------------------------------*/

#opinions {
    padding-top: 90px;
    padding-bottom: 70px;
}

#opinions h2 {
    font-weight: bold;
    color: #df982a;
}

#opinions .title i {
    color: #3B5998;
}

#opinions .subtitle {
    font-size: 18px;
}

#opinions .box {
    padding: 20px;
    background-color: #343a40;
    color: #fff;
    border-radius: 10px;
    margin: 0;
}

#opinions .box .title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

#opinions .box .subtitle {
    font-size: 16px;
    margin-bottom: 10px;
}

#opinions .box .description {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}

#opinions .carousel-cell {
    width: 50%;
    padding: 25px;
}

#opinions .rating {
    margin-top: 15px;
}

#opinions .rating .icon {
    color: red;
}


/*--------------------------------------------------------*\
    secureShopping
\*--------------------------------------------------------*/

#secureShopping {
    padding-top: 60px;
    padding-bottom: 60px;
}

#secureShopping .content {
    display: inline-block;
    text-align: left;
	margin: auto;
}

#secureShopping .title,
#secureShopping .subtitle {
    text-align: center;
    color: #252525;
}

#secureShopping .subtitle {
    font-size: 19px;
}

#secureShopping ul {
    list-style: none;
    margin-top: 30px;
}

#secureShopping ul li {
    margin: 0;
    padding-bottom: 10px;
}

#secureShopping ul li img {
    width: 120px;
    height: 120px;
    padding: 0;
    margin-right: 15px;
    float: left;
}


/*--------------------------------------------------------*\
    order
\*--------------------------------------------------------*/

#order {
    background: #a52a2a;
    background-position: center;
    margin-top: -5px;
}

#order > .container {
    padding: 50px 0 60px 0;
    text-align: center;
}

#order .container .center {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#order iframe {
    height: 600px;
    width: 100%;
    background: white;
    border: 3px dashed #3a926c;
    padding-top: 20px;
}


/*--------------------------------------------------------*\
    Video
\*--------------------------------------------------------*/

#video {
    max-height: 800px;
}

#video iframe {
    box-shadow: 0px 0px 15px #a2a1a1e0;
    -webkit-box-shadow: 0px 0px 15px #a2a1a1e0;
    -moz-box-shadow: 0px 0px 15px #a2a1a1e0;
    -o-box-shadow: 0px 0px 15px #a2a1a1e0;
    background-color: #000;
    min-height: 300px;
}


/*--------------------------------------------------------*\
    footer
\*--------------------------------------------------------*/

#footer {
    position: relative;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #191919;
    margin-top: -5px;
}

#footer .footer-logo {
    margin-bottom: 30px;
}

#footer .footer-logo img {
    max-width: 200px;
}

#footer .description {
    font-weight: 300;
    letter-spacing: 1px;
}

#footer a {
    display: block;
    margin-top: 2px;
    margin-bottom: 5px;
}

#footer a i {
    margin-right: 5px;
}

#footer a,
#footer a i {
    height: 18px;
    line-height: 18px;
    color: #fff;
}

/*--------------------------------------------------------*\
    facebook-box
\*--------------------------------------------------------*/

.facebook-box {
    margin: 30px auto;
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    box-shadow: 0px 0px 12px #a2a1a1e0;
    -webkit-box-shadow: 0px 0px 12px #a2a1a1e0;
    -moz-box-shadow: 0px 0px 12px #a2a1a1e0;
    -o-box-shadow: 0px 0px 12px #a2a1a1e0;
}

.facebook-box a {
    color: #3b5998;
    cursor: pointer;
    text-decoration: none;
}

.facebook-box hr {
    line-height: 1px;
    height: 1px;
    color: rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .1);
    border: 0;
    margin: 10px 0 0 0;
}

.facebook-box .right-icon {
    float: right;
    display: inline;
    width: 24px;
    height: 24px;
    color: #d8d8d8;
    cursor: pointer;
}

.facebook-box .content {
    padding: 12px;
    font-family: "Open Sans";
}

.facebook-box .row.header {
    max-height: 60px;
    margin-bottom: 11px;
}

.facebook-box .header .avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.facebook-box .header .name {
    width: calc(100% - 60px - 8px);
}

.facebook-box .header .name h5 {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
}

.facebook-box .header .name span {
    color: #9197a3;
    font-size: 12px;
}

.facebook-box .footer {
    border-top: 1px solid #e1e2e3;
    margin: 0;
    padding: 9px 12px 7px 12px;
    font-size: 12px;
    background-color: #f6f7f8;
    border-radius: 0 0 3px 3px;
    color: #141823;
    overflow: hidden;
}

.facebook-box .footer .row {
    margin-top: 10px;
    margin-bottom: 2px;
    overflow: hidden;
}
form {
    padding:15px;
width: 100%;
background: white;
border: 3px dashed #3a926c;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
-webkit-flex-direction: column;
-moz-flex-direction: column;
-ms-flex-direction: column;
-o-flex-direction: column;
flex-direction: column;
align-items: center;
}
.form-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;`
    align-items: center;
}
.form-group {
    width: 100%;
}
.form-group input, .form-group select {
    width: 100%;
}
.d-none {
    display: none!important;
}
form button {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    font-weight: bold;
    font-size: 18px;
}
.form-row .form-group {
    padding: 0!important;
}
#i_video {
    width: 100%;
    max-width: 600px;
    height: 100vw;
    max-height: 415px;
}
#video .container {
    text-align: center;
}